In [3]:
#Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

i1 = 50
i2 = 20

if (i1*i2)<=1000:
    print(i1*i2)
else:
    print(i1+i2)

1000

In [9]:
#Write a Python code to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

nums = range(0,10,1)
prev_num = 0

for i in nums:    
    print("i=" + str(i) + "; prev=" + str(prev_num) + "; sum=" + str(prev_num+i))
    prev_num = i

i=0; prev=0; sum=0
i=1; prev=0; sum=1
i=2; prev=1; sum=3
i=3; prev=2; sum=5
i=4; prev=3; sum=7
i=5; prev=4; sum=9
i=6; prev=5; sum=11
i=7; prev=6; sum=13
i=8; prev=7; sum=15
i=9; prev=8; sum=17

In [ ]:
#Write a Python code to accept a string from the user and display characters present at an even index number.
#For example, str = "PYnative". so your code should display ‘P’, ‘n’, ‘t’, ‘v’.

user_string = input()
str_len = len(user_string)
chars = list(range(0, str_len, 2))

for i in chars:
    print(user_string[i])

In [47]:
#Write a Python code to remove characters from a string from 0 to n and return a new string.
#remove_chars("PYnative", 4) so output must be tive. Here, you need to remove the first four characters from a string.
#remove_chars("PYnative", 2) so output must be native. Here, you need to remove the first two characters from a string.

def remove_chars(input_str, chars_to_remove):
    str_len = len(input_str)
    if (chars_to_remove > str_len):
        return False
    else:
        #print(input_str[chars_to_remove:])
        print(input_str[chars_to_remove:])

remove_chars("PYnative123", 6)

ve123

In [56]:
#Write a code to return True if the list’s first and last numbers are the same. If the numbers are different, return False.

numbers = [10, 20, 30, 40, 10]
#numbers = [75, 65, 35, 75, 30]

def analyse_list(the_list):
    list_len = len(the_list)
    if (the_list[0]==the_list[list_len-1]):
        return True
    else:
        return False

analyse_list(numbers)

True

In [58]:
#Write a Python code to display numbers from a list divisible by 5

numbers = [10, 20, 165, 46, 55]

for val in numbers:
    if (val%5==0): print(val)

10
20
165
55

In [91]:
#Write a Python code to find how often the substring “Emma” appears in the given string.

str_x = "Emma is good Emma is Emma"

i=0
count=0
str_len=len(str_x)

while i<str_len:
    print(str_x[i:])
    idx=str_x[i:].find("Emma")
    print(idx)

    if idx<0:
        break
    else:
        i+=(idx+1)
        count+=1

print(count)

Emma is good Emma is Emma
0
mma is good Emma is Emma
12
mma is Emma
7
mma
-1
3

In [103]:
#Print the following pattern
#1 
#2 2 
#3 3 3 
#4 4 4 4 
#5 5 5 5 5

loops=10
i=1

while i<=loops:
    j=0
    str_out = ""
    while j<i:
        str_out = str_out+str(i)
        j+=1
        if (j<i): str_out = str_out+"-"
    print(str_out)
    i+=1

1
2-2
3-3-3
4-4-4-4
5-5-5-5-5
6-6-6-6-6-6
7-7-7-7-7-7-7
8-8-8-8-8-8-8-8
9-9-9-9-9-9-9-9-9
10-10-10-10-10-10-10-10-10-10

In [62]:
#Write a Python code to check if the given number is palindrome. A palindrome number is a number that is the same after reverse. For example, 545 is the palindrome number.
test_numbers = [545, 12654, 234432, 8769833]

def reverse_string(in_str):
    out_str = ""
    
    for i in range(len(in_str),0,-1):
        out_str += in_str[i-1]
        
    return out_str

for num in test_numbers:
    out = reverse_string(str(num))
    if (str(num) == out):
        print("In=" + str(num) + "; Out=" + out + "; THIS IS A PALINDROME!")
    else:
        print("In=" + str(num) + "; Out=" + out + "; NOT A PALINDROME!")

In=545; Out=545; THIS IS A PALINDROME!
In=12654; Out=45621; NOT A PALINDROME!
In=234432; Out=234432; THIS IS A PALINDROME!
In=8769833; Out=3389678; NOT A PALINDROME!

In [82]:
#Given two lists of numbers, write a Python code to create a new list such that the latest list should contain odd numbers from the first list and even numbers from the second list.

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]

# assumes lists are same len

new_list = []

for val in list1:
    if (val%2 != 0): new_list.append(val)

for val in list2:
    if (val%2 == 0): new_list.append(val)

print(new_list)

[25, 35, 40, 60, 90]

In [88]:
# Get each digit from a number in the reverse order. e.g. if the given integer number is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

def reverse_string(in_str):
    out_str = ""
    
    for i in range(len(in_str),0,-1):
        out_str += in_str[i-1]
        
    return out_str

in_num = 7536
in_str = str(in_num)
new_str = reverse_string(in_str)

out_str = ""
for c in new_str:
    out_str += str(c + " ")

out_str.strip()
print(out_str)

6 3 5 7

In [95]:
#Calculate income tax for the given income by adhering to the rules below

#Taxable Income	First $10,000 = 0; Next $10,000 = 10; remaining = 20
#E.g. income is 45000, income tax payable = 10000*0% + 10000*10%  + 25000*20% = $6000.

def calc_income_tax(gross_amount):
    if(gross_amount>20000):
        return int((0.1*10000) + (0.2*(gross_amount-20000)))
    elif(gross_amount>10000 & gross_amount<=20000):
        return int(0.1*(gross_amount-10000))
    else:
        return 0

print(calc_income_tax(15000))

500

In [107]:
# Print multiplication table from 1 to 10

for i in range(1,11,1):
    list = []
    out_str = ""
    for j in range(1, 11, 1):
        out_str += str(str(i*j)+" ")
        
    out_str.strip()
    print(out_str)

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [115]:
# Print a downward half-pyramid pattern of stars
#* * * * *  
#* * * *  
#* * *  
#* *  
#*

def print_pyramid(max_length, character):
   
    for i in range(0,max_length,1):
        out_str=""
        for j in range(max_length-i,0,-1):
            out_str += "* "
        print(out_str.strip())


print_pyramid(7,"*")

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [118]:
#Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

def exponent(base, exp):
    return pow(base, exp)

exponent(5,4)

625